# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

node_modules
.env

# Hardhat files
smartcontract/cache
smartcontract/artifacts

# TypeChain files
smartcontract/typechain
smartcontract/typechain-types

# solidity-coverage files
smartcontract/coverage
smartcontract/coverage.json

# Hardhat Ignition default folder for deployments against a local node
smartcontract/ignition/deployments/chain-31337

# Next.js files
frontend/.next
frontend/out

# Documentation files
/docs

# Node modules
smartcontract/node_modules
frontend/node_modules
